@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header_list li {
  width: 100%;
} */

/* .header_list li::after {
  content: "|";
  margin: 0 10px;
  color: white;
} */

.brands_box {
  box-shadow: 0px 0px 15px 0px #d6d6d6;
}
